.gradient {
    background: linear-gradient(150deg, #FCCA0B, rgb(204, 146, 1) 100%);
}

.service-name {
    color: white;
    font-family: 'Inconsolata', sans-serif;
}

.caption {
    font-size: 13px;
    color: rgb(86, 86, 86);
}

/* Google Fonts (and icons) */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

/* BUTTONS */

.buttons-container {
    height: 100%;
    display: flex;
    /* ! can be problematic if another class also wants to impose display: inline-block onto the same element (but generally those shouldn't be needed)*/
    flex-direction: row;
    /* removes the need for another div with display: inline-block which is not possible with button-container anyway because it already uses flex*/
    gap: 5px;
}

/* Could also experiment with setting the line-height and vertical-align: middle*/

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.button {
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-medium {
    width: 40px;
    height: 40px;
}

.button-hover-light:hover {
    background-color: rgba(255, 255, 255, 0.129);
}

.button-hover-dark:hover {
    background-color: rgb(218, 218, 218);
}

/* CARDS */

.card-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

/* needed when there should be other elements below the card so that it doesn't push them down but rather floats on top of them */
.card-container-float {
    position: absolute;
    top: 0;
    left: 0;
}

.card-container-blur {
    backdrop-filter: blur(3px);
}

.card {
    /* min-height: 300px; */
    min-width: 500px;
    /* max-height: 500px; */
    max-width: 600px;

    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 30px 10px rgba(218, 218, 218, 0.382);

    padding: 2rem;
    transition: 0.8s ease;
    /* background: #fff; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* PILLS */
.pill {
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    color: white;
}

.pill-you {
    background-color: rgba(131, 58, 180, 1);
}

.pill-admin {
    background-color: rgb(230, 50, 50);
}