.sidebar-stream_list-item {
    margin: 10px;
    height: 50px;
    border-radius: 8px;
    padding: 10px;

    /* needed to prevent text overflowing but doesn't require a flex: 1 on the sidebar-stream_list-item-text */
    display: flex;
    flex-direction: row;
}

.sidebar-stream_list-item:hover {
    background-color: rgb(240, 240, 240);
}

.sidebar-stream_list-item-icon-container {
    display: inline-block;
    height: 50px;
    width: 50px;
}

.sidebar-stream_list-item-selected {
    background-color: rgb(210, 210, 210);
}

.sidebar-stream_list-item-selected:hover {
    background-color: rgb(197, 197, 197);
}

.sidebar-stream_list-item-text {
    display: flex; /* doesn't have to be inline-block */
    flex-direction: column;
    justify-content: center;

    height: 50px;
    margin-left: 10px;

    white-space: nowrap;
    overflow: hidden;
}

.sidebar-stream_list-item-header {
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-stream_list-item-last-note {
    font-size: medium;
    color: grey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
