.stream {
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative; /* needed to make sure that the new-note-form-container has the (100%) width of this element and not the entire viewport */
}